
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #030509;
    color: white;

    max-width: 1280px;
    padding: 0px 20px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

header h1{
    font-size: 30px;
}

header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    color: rgb(161, 185, 195);
}

header img{
    width: 36px;
    height: 36px;
    cursor: pointer;
}

main{
    padding: 50px 0px;
}

main h2{
    margin-bottom: 30px;
}

.box-productos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box-productos .producto{
    width: 23%;
    height: 500px;
    min-width: 260px;
    background-color: rgb(32, 31, 31);
    padding: 30px;
    color: white;
    border-radius: 20px;
    border: 4px solid #ffc981ea;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s all ease;
}

.box-productos .producto:hover{
    background-color: rgb(70, 68, 68);
    transform: translateY(-20px) scale(1.03);

}

.box-productos .producto img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 20px 0px;
}

.box-productos .producto .precio{
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ffffff85;
}

/* ----------------------------------------------- */

.form-producto{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.form-producto label{
    margin-top: 20px;
    color: rgb(254, 143, 125);
}

.form-producto input{
    padding: 10px 8px;
    margin: 6px 0px;
    border-radius: 5px;
}

.form-producto p{
    margin-top: 20px;
    color: rgb(189, 189, 189);
}

.form-producto button{
    max-width: 250px;
    padding: 10px 8px;
    margin: 6px 0px;
    margin-top: 20px;
    background-color: rgb(254, 143, 125);
    border-radius: 5px;
    cursor: pointer;
}
